{% macro show_result(result) %}
    {% if result %}
    <div class="result alert alert-{{ result|criticality }}">
        <p><i class="fa fa-fw {{ result|fa_class }}" aria-hidden="true"></i> {{ result|trans }}</p>
    </div>
    {% endif %}
{% endmacro %}

{% macro show_problems(problems) %}
    {% if problems %}
        <div class="result alert alert-{{ problems|max_criticality }}">
            {% for problem in problems %}
                <p><i class="fa fa-fw {{ problem|fa_class }}" aria-hidden="true"></i> {{ problem|trans }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro row_input_text(id, label, icon, placeholder, default_value, disabled, autocomplete) %}
    <div class="form-group">
        <label for="{{ id }}" class="col-sm-4 control-label">{{ label|trans }}</label>
        <div class="col-sm-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-{{ icon }}"></i></span>
                <input id="{{ id }}"
                       name="{{ id }}"
                       {% if disabled|default(false) %}disabled{% endif %}
                       value="{{ default_value|default('') }}"
                       class="form-control"
                       placeholder="{{ placeholder|trans }}"
                       {% if enable_form_autocomplete %}
                           {% if autocomplete|default(false) %}autocomplete="{{ autocomplete }}"{% endif %}
                       {% else %}
                           autocomplete="off"
                       {% endif %}
                />
            </div>
        </div>
    </div>
{% endmacro %}

{% macro row_input_email(id, label, icon, placeholder, default_value) %}
    <div class="form-group">
        <label for="{{ id }}" class="col-sm-4 control-label">{{ label|trans }}</label>
        <div class="col-sm-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-{{ icon }}"></i></span>
                <input type="email"
                       name="{{ id }}"
                       id="{{ id }}"
                       value="{{ default_value|default('') }}"
                       class="form-control"
                       placeholder="{{ placeholder|trans }}"
                       autocomplete="{% if enable_form_autocomplete %}email{% else %}off{% endif %}"
                />
            </div>
        </div>
    </div>
{% endmacro %}

{% macro row_input_textarea(id, label, icon, placeholder) %}
    <div class="form-group">
        <label for="{{ id }}" class="col-sm-4 control-label">{{ label|trans }}</label>
        <div class="col-sm-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-{{ icon }}"></i></span>
                <textarea name="{{ id }}" id="{{ id }}" class="form-control" rows="2" placeholder="{{ placeholder|trans }}"></textarea>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro row_input_password(id, label, icon, placeholder, default_value, type) %}
    <div class="form-group">
        <label for="{{ id }}" class="col-sm-4 control-label">{{ label|trans }}</label>
        <div class="col-sm-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-{{ icon }}"></i></span>
                <input type="password"
                       name="{{ id }}"
                       id="{{ id }}"
                       value="{{ default_value|default('') }}"
                       class="form-control password"
                       placeholder="{{ placeholder|trans }}"
                       {% if enable_form_autocomplete %}
                           autocomplete="{{ type }}-password"
                       {% else %}
                           autocomplete="off"
                       {% endif %}

                />
                {% if enable_password_toggle_visibility %}
                    <i class="glyphicon glyphicon-eye-open form-control-feedback"></i>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro row_input_select(id, label, icon, options) %}
<div class="form-group">
    <label for="{{ id }}" class="col-sm-4 control-label">{{ label|trans }}</label>
    <div class="col-sm-8">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-fw fa-{{ icon }}"></i></span>
            <select name="{{ id }}" id="{{ id }}" class="form-control">
                {% for key,value in options %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
{% endmacro %}

{% macro row_static_text(label, value) %}
    <div class="form-group">
        <label class="col-sm-4 control-label">{{ label|trans }}</label>
        <div class="col-sm-8">
            <p class="form-control-static">{{ value }}</p>
        </div>
    </div>
{% endmacro %}

{% macro row_button_submit(label, icon) %}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button class="btn btn-success">
                <i class="fa fa-fw fa-{{ icon|default('check-square-o') }}"></i> {{ label|default('submit')|trans }}
            </button>
        </div>
    </div>
{% endmacro %}


{% macro row_gregwarcaptcha(captcha_image) %}
    <div class="form-group">
        <label class="col-sm-4 control-label">{{ 'Captcha'|trans }}</label>
        <div class="col-sm-8">
            <img src="{{ captcha_image }}" />

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-font"></i></span>
                <input name="captcha" id="captcha" class="form-control" placeholder="{{ 'Captcha'|trans }}" />
            </div>
        </div>
    </div>
{% endmacro %}

{% macro row_recaptcha(publickey, theme, type, size, lang) %}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <div class="g-recaptcha" data-sitekey="{{ publickey }}" data-theme="{{ theme }}" data-type="{{ type }}" data-size="{{ size }}"></div>
            <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl={{ lang }}"></script>
        </div>
    </div>
{% endmacro %}